body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

input, button {
    font-size: 16px;
    padding: 5px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 560px;
    height: 300px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

button:hover {
    background-color: #45a049;
}